<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.EnkoQuest"
        tools:targetApi="31">
        <activity
            android:name=".WordBook"
            android:exported="false" />
        <activity
            android:name=".user.Ranking"
            android:exported="false" />
        <activity
            android:name=".challenge.BWriteExplanation"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".challenge.BWriteActivity"
            android:exported="false" />
        <activity
            android:name=".challenge.BlankExplanation"
            android:exported="false" />
        <activity
            android:name=".challenge.BlankActivity"
            android:exported="false" />
        <activity
            android:name=".EngGmActivity"
            android:exported="false" />
        <activity
            android:name=".challenge.CorrectExplanation"
            android:exported="false" />
        <activity
            android:name=".user.ChangePwActivity"
            android:exported="false" />
        <activity
            android:name=".user.ResetPwActivity"
            android:exported="false" />
        <activity
            android:name=".user.FindIdActivity"
            android:exported="false" />
        <activity
            android:name=".challenge.CorrectWordActivity"
            android:exported="false" />
        <activity
            android:name=".MyPageActivity"
            android:exported="false" />
        <activity
            android:name=".user.SignInActivity"
            android:exported="false" />
        <activity
            android:name=".user.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".FavoriteWord"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <service android:name=".BGMService" />
    </application>

</manifest>